---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=adjust&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Y3YOQGKExHiMu1zgQmjWQB3ph", oauth_nonce="4925353cb17895e9357b6ea1461ccf41",
        oauth_signature="AyDEBoL4f3RtD%2Biji0nkUixnfNU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1518994641", oauth_token="725713424257290240-dgtNDlppig7FwW4VINM7Kh5jI5yNqSA",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Feb 2018 22:57:21 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bb54bc26ed3ed3c15c79ba3f7dc99c8b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '167'
      X-Rate-Limit-Reset:
      - '1518995397'
      X-Response-Time:
      - '159'
      X-Transaction:
      - 00fdc88a004c90b2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun Feb 18 22:56:52 +0000 2018","id":965359491188436993,"id_str":"965359491188436993","text":"RT
        @DrBillWinston: Systems and policies will adjust themselves to accommodate
        your divine purpose. You and God are a majority. #GreaterWork\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"DrBillWinston","name":"Bill
        Winston","id":29412312,"id_str":"29412312","indices":[3,17]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":904516951128584193,"id_str":"904516951128584193","name":"Juanita
        McBeth","screen_name":"juanita_mcbeth","location":"Irving, TX","description":"Business
        professional that loves life! Thankful for every blessing that God gives me!
        Lover of fashion, Chicago food, and sports!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":90,"friends_count":147,"listed_count":0,"created_at":"Mon
        Sep 04 01:30:21 +0000 2017","favourites_count":9476,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4226,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Feb 18 19:48:17 +0000 2018","id":965312030566739968,"id_str":"965312030566739968","text":"Systems
        and policies will adjust themselves to accommodate your divine purpose. You
        and God are a majority. #GreaterWorks #LWCCOnline","truncated":false,"entities":{"hashtags":[{"text":"GreaterWorks","indices":[108,121]},{"text":"LWCCOnline","indices":[122,133]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/sproutsocial.com\" rel=\"nofollow\"\u003eSprout Social\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":29412312,"id_str":"29412312","name":"Bill
        Winston","screen_name":"DrBillWinston","location":"Forest Park, IL","description":"A
        visionary leader whose mission is to empower Believers through teaching and
        preaching of the uncompromised Word of God.","url":"https:\/\/t.co\/2PM2c5rwlq","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/2PM2c5rwlq","expanded_url":"http:\/\/billwinston.org","display_url":"billwinston.org","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":272581,"friends_count":126,"listed_count":882,"created_at":"Tue
        Apr 07 08:44:26 +0000 2009","favourites_count":1074,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":15516,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"3E5C76","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/450451612268367872\/49a7P5q6.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/450451612268367872\/49a7P5q6.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/856142068762193922\/nrWzAhxC_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/856142068762193922\/nrWzAhxC_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/29412312\/1516672575","profile_link_color":"3E5C76","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"CEBA91","profile_text_color":"0F0E0E","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":35,"favorite_count":134,"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":35,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Sun
        Feb 18 22:56:31 +0000 2018","id":965359400612491264,"id_str":"965359400612491264","text":"RT
        @UPROXX: #ThreeBillboards wins big at the 2018 #BAFTAs, adjust your office
        pool''s #Oscars odds accordingly https:\/\/t.co\/UUgawjv2Sc https\u2026","truncated":false,"entities":{"hashtags":[{"text":"ThreeBillboards","indices":[12,28]},{"text":"BAFTAs","indices":[50,57]},{"text":"Oscars","indices":[85,92]}],"symbols":[],"user_mentions":[{"screen_name":"UPROXX","name":"UPROXX","id":19870967,"id_str":"19870967","indices":[3,10]}],"urls":[{"url":"https:\/\/t.co\/UUgawjv2Sc","expanded_url":"http:\/\/uproxx.it\/2ENt0HF","display_url":"uproxx.it\/2ENt0HF","indices":[110,133]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":487814137,"id_str":"487814137","name":"Jose
        Selem","screen_name":"JoseSelem","location":"Lima - Per\u00fa","description":"Pesimista
        a tiempo completo. Nac\u00ed el a\u00f1o en que estaban de moda estas canciones:
        https:\/\/t.co\/h0fMGHzSQx","url":null,"entities":{"description":{"urls":[{"url":"https:\/\/t.co\/h0fMGHzSQx","expanded_url":"https:\/\/www.youtube.com\/playlist?list=PLaNCneg-XrLfJVIVLCHtYFXud3ZGRL6VO","display_url":"youtube.com\/playlist?list=\u2026","indices":[81,104]}]}},"protected":false,"followers_count":739,"friends_count":1866,"listed_count":9,"created_at":"Thu
        Feb 09 19:32:04 +0000 2012","favourites_count":4969,"utc_offset":-18000,"time_zone":"Bogota","geo_enabled":true,"verified":fal[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=%23ruby25th&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Y3YOQGKExHiMu1zgQmjWQB3ph", oauth_nonce="f819ad355c4571b8730ca7bcf3adebb1",
        oauth_signature="CHnSkze8rG6Kk7in2yMZOAGDLCY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1519380930", oauth_token="725713424257290240-dgtNDlppi[...]
