---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=adjust
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Y3YOQGKExHiMu1zgQmjWQB3ph", oauth_nonce="a277029aff7e89ea5a5cab809242908c",
        oauth_signature="X8GaF9My1ToFeofVU9cNWczmEKU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1518994496", oauth_token="725713424257290240-dgtNDlppig7FwW4VINM7Kh5jI5yNqSA",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Feb 2018 22:54:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 25cdd3ec3a89271c0ac3daaf3f4429d4
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1518995397'
      X-Response-Time:
      - '188'
      X-Transaction:
      - 0036a55b000d5cb2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun Feb 18 22:54:40 +0000 2018","id":965358934906224640,"id_str":"965358934906224640","text":"@kawaiimemdyey
        Kayo daw mag adjust. Hindi sila \ud83d\ude02","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"kawaiimemdyey","name":"\u51b7\u305f\u3044
        \ud83e\udd23","id":3271759910,"id_str":"3271759910","indices":[0,14]}],"urls":[]},"metadata":{"iso_language_code":"tl","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":965358603098968064,"in_reply_to_status_id_str":"965358603098968064","in_reply_to_user_id":3271759910,"in_reply_to_user_id_str":"3271759910","in_reply_to_screen_name":"kawaiimemdyey","user":{"id":4900514810,"id_str":"4900514810","name":"Jacob","screen_name":"ebibernabe","location":"Unknown","description":"\ud83c\udf38
        :; Abstract life","url":"https:\/\/t.co\/X3nIlTsatO","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/X3nIlTsatO","expanded_url":"http:\/\/instagram.com\/ebibernabe","display_url":"instagram.com\/ebibernabe","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":205,"friends_count":116,"listed_count":0,"created_at":"Sat
        Feb 13 05:38:41 +0000 2016","favourites_count":2185,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":12164,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/964834974502346753\/wbLiqNQM_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/964834974502346753\/wbLiqNQM_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/4900514810\/1517208287","profile_link_color":"002426","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"tl"},{"created_at":"Sun
        Feb 18 22:54:38 +0000 2018","id":965358927507574785,"id_str":"965358927507574785","text":"RT
        @AnzacCanuck: Anyway, so imma leave all that shit on that side of the day,
        pull on my big girl panties, adjust my tiara and seize the da\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"AnzacCanuck","name":"AnzacCanuck","id":289661597,"id_str":"289661597","indices":[3,15]}],"urls":[]},"metadata":[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23ruby25th
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Y3YOQGKExHiMu1zgQmjWQB3ph", oauth_nonce="25c27914360bc684139e254635c26929",
        oauth_signature="EZMZI0mxirCgDRodGK1TfbC%2FSSU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1519381084", oauth_token="725713424257290240-dgtNDlppig7FwW4VINM7Kh5jI5yNqSA",
[...]
